<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="d-inline">Tickets</h4>
        </div>
        <div class="card-body">
          <p *ngIf="!TicketList || TicketList==0" style="text-align: center;">
            You haven't raised any ticket yet.
          </p>
          <table class="table table-responsive-sm table-hover table-outline mb-0" *ngIf="TicketList && TicketList.length>0">
            <thead class="thead-light">
              <tr>
                <th>Id</th>
                <th>Project</th>
                <th>Type</th>
                <th>Assignee</th>
                <th>Status</th>
                <th>Assign</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of TicketList" [routerLink]="['./'+ticket.id]">
                <td>
                  {{ticket.id}}
                </td>
                <td>
                  {{ticket.project}}
                </td>
                <td>
                  {{ticket.category}}
                </td>
                <td>
                  {{ticket.assignee}}
                </td>
                <td>
                  <span class="badge badge-success" *ngIf="ticket.status == 'Open' || ticket.status == 'Pending'">{{ticket.status}}</span>
                  <span class="badge badge-danger" *ngIf="ticket.status == 'Closed'">{{ticket.status}}</span>
                  <span class="badge badge-warning" *ngIf="ticket.status == 'In Progress'">{{ticket.status}}</span>
                </td>
                <td><button class="btn btn-primary" (click)="showAssignUserPopup($event,ticket.projectId,ticket.id);"
                  data-toggle="modal">Assign</button></td>
               
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #assignUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign User</h4>
        <button type="button" class="close" (click)="assignUser.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="assignUserForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="userName">Select User</label><br>
                <p-dropdown [options]="forusers" formControlName="userName" id="userName"></p-dropdown>
              </div>
            </div>
          </div>
          <!--/.row-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="assignUser.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="assignTicketToUser();">Assign</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


