<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="d-inline">Categories</h5>
          <button class="btn btn-primary" style="float: right" (click)="myModal.show()" data-toggle="modal">Add Category</button>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                <tr [routerLink]="['./'+category.id]" *ngFor="let category of categories">
                    <td>
                      {{category.id}}
                    </td>
                    <td>
                      {{category.name}}
                    </td>
                    <td>
                      {{category.desc}}
                    </td>
                  </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Category</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createCategoryForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input type="text" formControlName="categoryName" class="form-control" id="categoryName" placeholder="Enter category name"  autocomplete="off" >
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="categoryDes">Category Description</label>
              <input type="text" formControlName="categoryDes" class="form-control" id="categoryDes" placeholder="Enter Category Description"  autocomplete="off" >
            </div>
          </div>
        </div><!--/.row-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="submit()" >Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->