<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="d-inline">Projects</h4>
          <button class="btn btn-primary" style="float: right">Add Project</button>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Admin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  PayTM
                </td>
                <td>
                    Amit Bhoraniya
                </td>
              </tr>
              <tr>
                  <td>
                    2
                  </td>
                  <td>
                    FlipKart
                  </td>
                  <td>
                      Kishan Bhoraniya
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
